{% extends "base.html" %}

{% block title %}{{ page_title }} - velog clone{% endblock %}

{% block content %}
<section class="editor">
  <h1>{{ page_title }}</h1>
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button class="button button-primary" type="submit">{{ submit_label }}</button>
      {% if post %}
        <a class="button" href="{{ post.get_absolute_url }}">Cancel</a>
      {% else %}
        <a class="button" href="{% url 'post_list' %}">Cancel</a>
      {% endif %}
    </div>
  </form>
</section>
{% endblock %}
